%p Hi Ops,
%p
  = "Campaign (#{@campaign.name}) has been terminated by #{@user.name} at #{@campaign.updated_at.strftime('%H:%M %p')} on #{@campaign.updated_at.strftime('%d/%m/%y')}"
%p
  Best Regards,
  %br
  YOOSE